<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页插件</title>
    <style>
    ul,li{
        margin: 0px;
        padding: 0px;
    }
    li{
        list-style: none
    }
    .page-bar li:first-child>a {
       margin-left: 0px
    }
    .page-bar a{
        border: 1px solid #ddd;
        text-decoration: none;
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        cursor: pointer
    }
    .page-bar a:hover{
        background-color: #eee;
    }
    .page-bar .active a{
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    .page-bar i{
        font-style:normal;
        color: #d44950;
        margin: 0px 4px;
        font-size: 12px;
    }
    </style>
</head>
<body>
    <!--原文：https://segmentfault.com/a/1190000003931500 -->
    
    <div class="page-bar">
        <ul>
            <li v-if="showFirst"><a v-on:click="cur--">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="showLast">
                <a v-on:click="cur++">下一页</a>
            </li>
            <li>
                <a>共<i>{{all}}</i>页</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var pageBar = new Vue({
            el: '.page-bar',
            data: {
                all: 20, //总页数
                cur: 1,//当前页码
            },
            computed: {
                indexs: function(){
                    var left = 1
                    var right = this.all
                    var ar = [] 
                    if (this.all >= 11) {
                        if (this.cur > 5 && this.cur < this.all - 4) {
                            left = this.cur - 5;
                            right = this.cur + 4;
                    } else {
                        if (this.cur <= 5) {
                            left = 1;
                            right = 10;
                        }else{
                            right = this.all;
                            left = this.all - 9;
                        }
                    }
                    }
                    while (left <= right){
                        ar.push(left)
                        left++;
                    }   
                    return ar
                },
               showLast: function(){
                    if(this.cur == this.all){
                        return false
                    }
                    return true
               },
               showFirst: function(){
                    if(this.cur == 1){
                        return false
                    }
                    return true
               }
            },
            methods: {
                btnClick: function(data){//页码点击事件
                    if(data != this.cur){
                        this.cur = data 
                    }
                }
            },
            watch: {
                cur: function(oldValue , newValue){
                    console.log(arguments)
                }
            }
        });
    </script>
</body>
</html>