<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue two way binding</title>

</head>
<body>
    <div id="demo">{{fullName}}</div>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#demo',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: {
                    // getter
                    get: function() {
                        return this.firstName + ' ' + this.lastName
                    },
                    // setter,现在在调用 vm.fullName = 'John Doe' 时，setter 会被调用，vm.firstName 和 vm.lastName 也会有相应更新。
                    set: function(newValue) {
                        var names = newValue.split(' ')
                        this.firstName = names[0]
                        this.lastName = names[names.length - 1]
                    }
                }
            }
        })
    </script>
</body>
</html>