<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for</title>

</head>
<body>
    <!-- $index为索引值 -->
    <p>数组遍历，带索引</p>
    <ul id="demo1">
        <li v-for="item in items" track-by="message">
            {{ parentMessage }} - {{ $index }} - {{ item.message }}
        </li>
    </ul>
    
    <p>数组遍历模版</p>
    <ul id="demo2">
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
        </template>
    </ul>
    
    <p>对象遍历</p>
    <ul id="demo3">
        <li v-for="value in obj">
            {{ $key }} : {{ value }}
        </li>
    </ul>


    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        /*
        控制台里输入以下命令测试，push，pop，shift，unshift，splice，sort，reverse生效，此外filter，concat，slice替换原生效，最好指定track-by
        vm1.items.push({ message: 'Baz' }); //增
        vm1.items = vm1.items.filter(function (item) {
            return item.message.match(/Foo/)
        });//改
        vm1.items.$set(0, { message: 'Changed!'}) //改单个
        vm1.items.splice(0,1); //删
        vm1.items.$remove(vm1.items[0]) //删除单个也可以这么做
        vm1.items ＝ []; //删除所有
        */
        var vm1 = new Vue({
            el: '#demo1',
            data: {
                parentMessage: 'parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        });
        var vm2 = new Vue({
            el: '#demo2',
            data: {
                items: [
                    { msg: 'Foo' },
                    { msg: 'Bar' }
                ]
            }
        });
        var vm3 = new Vue({
            el: '#demo3',
            data: {
                obj: {
                    firstName: 'chen',
                    lastName: 'tongta',
                    Age: 22
                }
            }
        });
    </script>
</body>
</html>