<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue hello world</title>

</head>
<body>
    <div id="example1">
        {{ message }}
    </div>

    <div id="example2">
        {{{ message }}}
    </div>

    <div id="example3">
        <p v-if="greeting">Hello!</p>
    </div>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        //vue实例，正是一个mvvm模式中描述的viewmodel
        var example1 = new Vue({
            el: '#example1',
            data: {
                message: 'Hello Vue.js!'
            }
        });

        //期望当作html解析就使用三大括号
        var example2 = new Vue({
            el: '#example2',
            data: {
                message: '<p>Hello 2 Vue.js!</p>'
            }
        });

        //v-if这种特性被称为指令
        var example3 = new Vue({
            el: '#example3',
            data: {
                greeting: true
            }
        });
    </script>
</body>
</html>