<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>if</title>

</head>
<body>
    <template id="demo1" v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>

    <div id="demo2">
        <p v-if="ok">Sorry</p>
        <p v-else>not sorry</p>
    </div>

    <h1 id="demo3" v-show="ok">Hello!</h1>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var vm1 = new Vue({
            el: '#demo1',
            data: {
                ok: true
            }
        });

        var vm2 = new Vue({
            el: '#demo2',
            data: {
                ok: Math.random() > 0.5
            }
        });

        var vm3 = new Vue({
            el: '#demo3',
            data: {
                ok: true
            }
        });
        //一般来说，v-if 有更高的切换消耗而 v-show 有更高的初始渲染消耗。因此，如果需要频繁切换 v-show 较好，如果在运行时条件不大可能改变 v-if 较好。
    </script>
</body>
</html>