<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>on</title>

</head>
<body>
    <div id="demo1">
        <h3>#text</h3>
        <span>Message is: {{ message }}</span>
        <input v-model="message" debounce="500" placeholder="edit me">
    </div>

    <div id="demo2">
        <h3>#checkbox</h3>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <p>Checked names: {{ checkedNames | json }}</p>
    </div>

    <div id="demo3">
        <h3>#radio</h3>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    
    <div id="demo4">
        <h3>#select</h3>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
            </option>
        </select>
        <p>Selected: {{ selected }}</p>
    </div>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var vm1 = new Vue({
            el: '#demo1',
            data: {
                message: '',
            }
            
        });
        var vm2 = new Vue({
            el: '#demo2',
            data: {
                checkedNames: []
            }
            
        }); 
        var vm3 = new Vue({
            el: '#demo3',
            data: {
                picked: ''
            }
            
        });
        var vm4 = new Vue({
            el: '#demo4',
            data: {
                selected: 'A',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ]
            }
            
        }); 
        
    </script>
</body>
</html>