<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue two way binding</title>

</head>
<body>
    <div id="app">
        <input v-model="newTodo" v-on:keyup.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                <span>{{ todo.text }}</span>
                <button v-on:click="removeTodo($index)">X</button>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
                el: '#app',
                data: {
                    newTodo: '',
                    todos: [
                    { text: 'Add some todos' }
                ]
            },
            methods: {
                addTodo: function () {
                    var text = this.newTodo.trim();
                    if (text) {
                        //this指向的是这个vue实例对象
                        this.todos.push({ text: text });
                        this.newTodo = '';
                    }
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1);
                }
            }
        });
    </script>
</body>
</html>