<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>on</title>
    <style>
    /* 必需 */
    .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
    }

    /* .expand-enter 定义进入的开始状态 */
    /* .expand-leave 定义离开的结束状态 */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }
    </style>
</head>
<body>
    <div id="demo1">
        <div v-if="show" transition="expand">
            hello
        </div>
    </div>
    

   
    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        //控制台输入vm1.show = true试试
        var vm1 = new Vue({
            el: '#demo1',
            data: {
                show: false,
                transitionName: 'fade'
            }
            
        });
        //钩子
        Vue.transition('expand', {
            beforeEnter: function (el) {
                el.textContent = 'beforeEnter'
            },
            enter: function (el) {
                el.textContent = 'enter'
            },
            afterEnter: function (el) {
                el.textContent = 'afterEnter'
            },
            enterCancelled: function (el) {
                // handle cancellation
            },
            beforeLeave: function (el) {
                el.textContent = 'beforeLeave'
            },
            leave: function (el) {
                el.textContent = 'leave'
            },
            afterLeave: function (el) {
                el.textContent = 'afterLeave'
            },
            leaveCancelled: function (el) {
                // handle cancellation
            }
        })
        
    </script>
</body>
</html>