<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue two way binding</title>

</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script type="text/javascript" src="../bower/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue.js!'
            }
        })
    </script>
</body>
</html>